<style>
  .card-title{
    margin: 0;
    text-align: cecnter;
  }
</style>

<div class="container">
    <div class="row" matchHeight="card" style="margin-top:50px;">

        <div class="col-xl-4 col-lg-6 col-12">
        <div class="card" style="background-color:#00aae7;">
            <div class="card-body">
            <div class="card-header">
                    <h4 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yesterday</h4>
              </div>
        
          <div class="px-3 py-3">
          <div class="media">
          <div class="media-body white text-left">
          <!-- <button (click)="getyesterday()"class="card-title">Yesterday</button><hr> -->
          <p>Temperature</p>
          <p>Humidity</p>
          <p>Wind</p>
          <p>Direction</p>
          </div>
          <div class="media-right align-self-center">
          
          </div>
          </div>
          </div>
        </div>
        </div>
        </div>
        
        <div class="col-xl-4 col-lg-6 col-12">
        <div class="card" style="background-color:#2368a0;">
        <div class="card-body">
                <div class="card-header">
                        <h4 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Today</h4>
                    </div>
        <div class="px-3 py-3">
        <div class="media">
        <div class="media-body white text-left">
        <!-- <button (click)="gettoday()" class="card-title">Today</button><hr style="border-color:#ffffffad !important;"> -->
        <p>Temp</p>
        <p>Humidity</p>
        <p>Wind</p>
        <p>Direction</p>
        
        
        </div>
        <div class="media-right align-self-center">
        
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-12">
        <div class="card" style="background-color:#0d416b;">
        <div class="card-body">
                <div class="card-header">
                        <h4 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tommorow</h4>
                    </div>
        <div class="px-3 py-3">
        <div class="media">
        <div class="media-body white text-left">
        <!-- <button (click)="gettommorow()" class="card-title">Tomorrow</button><hr> -->
        <p>Temp</p>
        <p>Humidity</p>
        <p>Wind</p>
        <p>Direction1</p>
        <p>Direction2</p>
        
        
        </div>
        <div class="media-right align-self-center">
        
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
</div>